VITE_POSTHOG_KEY=your_posthog_project_api_key
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_POSTHOG_API_HOST=https://us.posthog.com
VITE_POSTHOG_PERSONAL_API_KEY=your_posthog_personal_api_key

VITE_GITHUB_TOKEN=your_github_personal_access_token
VITE_GITHUB_USERNAME=your_github_username